body{
  background-color: #F3F1F5;
}

hr{
border: none;
border-top: 6px rgb(127, 124, 130, 0.3) dotted;
width: 4%;
}

h1{
  color: #BFA2DB;
}

h3{
  color: #BFA2DB;
}

.image {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.image:hover,
.image:focus,
.image:active {
    transform: scale(1.1);
}
